<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>我的收藏</title>
	<link rel="stylesheet" href="../../../css/widget.css">
	<link rel="stylesheet" href="../../../css/Daily_Specials.css">
	<link rel="stylesheet" href="../../../css/common.css">
	<link rel="stylesheet" href="../../../js/layer/need/layer.css">
</head>
<body>
	<div class="j_container">
		<header class="header">
			<a class="back"></a>
			<span>天天特价</span>
		</header>
		<section class="j_content">
			<div class="message_box">
				<div class="goods">
					<div class="label"><label>特卖</label></div>
					<dl class="d_l">
						<dt><img src=""></dt>
						<dd>
							<h4 class="title">越南红心火龙果</h4>
							<p class="g_g">规格 : 250ml*12盒*1/箱</p>
							<div class="old_new_price">
								<span class="new_price">￥ 24.00</span>
								<s class="old_price">32.50</s>
								<ul class="a_r">
									<li class="add j_goods_reduce"><img src="../../../images/r_ole.png"></li><li class="input j_goods_num">0</li><li class="a_dd j_goods_plus"><img src="../../../images/a_dd.png"></li>
								</ul>
							</div>
							<p class="company">北京圣嘉贸易</p>
						</dd>
					</dl>
				</div>
				<div class="goods">
					<div class="label"><label>特卖</label></div>
					<dl class="d_l">
						<dt><img src=""></dt>
						<dd>
							<h4 class="title">越南红心火龙果</h4>
							<p class="g_g">规格 : 250ml*12盒*1/箱</p>
							<div class="old_new_price">
								<span class="new_price">￥ 24.00</span>
								<s class="old_price">32.50</s>
								<ul class="a_r">
									<li class="add j_goods_reduce"><img src="../../../images/r_ole.png"></li><li class="input j_goods_num">0</li><li class="a_dd j_goods_plus"><img src="../../../images/a_dd.png"></li>
								</ul>
							</div>
							<p class="company">北京圣嘉贸易</p>
						</dd>
					</dl>
				</div>
			</div>
		</section>
		<!-- 购物车 -->
		<a href="/h5/shoppingCart/gotoShoppingCart.do" class="shopcar j_shopcar_icon"></a>
	</div>
</body>
</html>