/**
 * less常量文件
 */
.tx_org {
  color: #ffb53e;
}
.tx_green {
  color: #82be0a;
}
/* * {
  margin: 0;
  padding: 0;
} */
body {
  font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "Hiragino Sans GB", "SimSun", sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *height: 1%;
}
.m100 {
  margin: 100px;
}
.mt100 {
  margin-top: 100px;
}
.mb100 {
  margin-bottom: 100px;
}
.ml100 {
  margin-left: 100px;
}
.mr100 {
  margin-right: 100px;
}
.p100 {
  padding: 100px;
}
.pt100 {
  padding-top: 100px;
}
.pb100 {
  padding-bottom: 100px;
}
.pl100 {
  padding-left: 100px;
}
.pr100 {
  padding-right: 100px;
}
.m95 {
  margin: 95px;
}
.mt95 {
  margin-top: 95px;
}
.mb95 {
  margin-bottom: 95px;
}
.ml95 {
  margin-left: 95px;
}
/* .mr95 {
  margin-right: 95px;
} */
.p95 {
  padding: 95px;
}
.pt95 {
  padding-top: 95px;
}
.pb95 {
  padding-bottom: 95px;
}
.pl95 {
  padding-left: 95px;
}
.pr95 {
  padding-right: 95px;
}
.m90 {
  margin: 90px;
}
.mt90 {
  margin-top: 90px;
}
.mb90 {
  margin-bottom: 90px;
}
.ml90 {
  margin-left: 90px;
}
.mr90 {
  margin-right: 90px;
}
.p90 {
  padding: 90px;
}
.pt90 {
  padding-top: 90px;
}
.pb90 {
  padding-bottom: 90px;
}
.pl90 {
  padding-left: 90px;
}
.pr90 {
  padding-right: 90px;
}
.m85 {
  margin: 85px;
}
.mt85 {
  margin-top: 85px;
}
.mb85 {
  margin-bottom: 85px;
}
.ml85 {
  margin-left: 85px;
}
.mr85 {
  margin-right: 85px;
}
.p85 {
  padding: 85px;
}
.pt85 {
  padding-top: 85px;
}
.pb85 {
  padding-bottom: 85px;
}
.pl85 {
  padding-left: 85px;
}
.pr85 {
  padding-right: 85px;
}
.m80 {
  margin: 80px;
}
.mt80 {
  margin-top: 80px;
}
.mb80 {
  margin-bottom: 80px;
}
.ml80 {
  margin-left: 80px;
}
.mr80 {
  margin-right: 80px;
}
.p80 {
  padding: 80px;
}
.pt80 {
  padding-top: 80px;
}
.pb80 {
  padding-bottom: 80px;
}
.pl80 {
  padding-left: 80px;
}
.pr80 {
  padding-right: 80px;
}
.m75 {
  margin: 75px;
}
.mt75 {
  margin-top: 75px;
}
.mb75 {
  margin-bottom: 75px;
}
.ml75 {
  margin-left: 75px;
}
.mr75 {
  margin-right: 75px;
}
.p75 {
  padding: 75px;
}
.pt75 {
  padding-top: 75px;
}
.pb75 {
  padding-bottom: 75px;
}
.pl75 {
  padding-left: 75px;
}
.pr75 {
  padding-right: 75px;
}
.m70 {
  margin: 70px;
}
.mt70 {
  margin-top: 70px;
}
.mb70 {
  margin-bottom: 70px;
}
.ml70 {
  margin-left: 70px;
}
.mr70 {
  margin-right: 70px;
}
.p70 {
  padding: 70px;
}
.pt70 {
  padding-top: 70px;
}
.pb70 {
  padding-bottom: 70px;
}
.pl70 {
  padding-left: 70px;
}
.pr70 {
  padding-right: 70px;
}
.m65 {
  margin: 65px;
}
.mt65 {
  margin-top: 65px;
}
.mb65 {
  margin-bottom: 65px;
}
.ml65 {
  margin-left: 65px;
}
.mr65 {
  margin-right: 65px;
}
.p65 {
  padding: 65px;
}
.pt65 {
  padding-top: 65px;
}
.pb65 {
  padding-bottom: 65px;
}
.pl65 {
  padding-left: 65px;
}
.pr65 {
  padding-right: 65px;
}
.m60 {
  margin: 60px;
}
.mt60 {
  margin-top: 60px;
}
.mb60 {
  margin-bottom: 60px;
}
.ml60 {
  margin-left: 60px;
}
.mr60 {
  margin-right: 60px;
}
.p60 {
  padding: 60px;
}
.pt60 {
  padding-top: 60px;
}
.pb60 {
  padding-bottom: 60px;
}
.pl60 {
  padding-left: 60px;
}
.pr60 {
  padding-right: 60px;
}
.m55 {
  margin: 55px;
}
.mt55 {
  margin-top: 55px;
}
.mb55 {
  margin-bottom: 55px;
}
.ml55 {
  margin-left: 55px;
}
.mr55 {
  margin-right: 55px;
}
.p55 {
  padding: 55px;
}
.pt55 {
  padding-top: 55px;
}
.pb55 {
  padding-bottom: 55px;
}
.pl55 {
  padding-left: 55px;
}
.pr55 {
  padding-right: 55px;
}
.m50 {
  margin: 50px;
}
.mt50 {
  margin-top: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.ml50 {
  margin-left: 50px;
}
.mr50 {
  margin-right: 50px;
}
.p50 {
  padding: 50px;
}
.pt50 {
  padding-top: 50px;
}
.pb50 {
  padding-bottom: 50px;
}
.pl50 {
  padding-left: 50px;
}
.pr50 {
  padding-right: 50px;
}
.m45 {
  margin: 45px;
}
.mt45 {
  margin-top: 45px;
}
.mb45 {
  margin-bottom: 45px;
}
.ml45 {
  margin-left: 45px;
}
.mr45 {
  margin-right: 45px;
}
.p45 {
  padding: 45px;
}
.pt45 {
  padding-top: 45px;
}
.pb45 {
  padding-bottom: 45px;
}
.pl45 {
  padding-left: 45px;
}
.pr45 {
  padding-right: 45px;
}
.m40 {
  margin: 40px;
}
.mt40 {
  margin-top: 40px;
}
.mb40 {
  margin-bottom: 40px;
}
.ml40 {
  margin-left: 40px;
}
.mr40 {
  margin-right: 40px;
}
.p40 {
  padding: 40px;
}
.pt40 {
  padding-top: 40px;
}
.pb40 {
  padding-bottom: 40px;
}
.pl40 {
  padding-left: 40px;
}
.pr40 {
  padding-right: 40px;
}
.m35 {
  margin: 35px;
}
.mt35 {
  margin-top: 35px;
}
.mb35 {
  margin-bottom: 35px;
}
.ml35 {
  margin-left: 35px;
}
.mr35 {
  margin-right: 35px;
}
.p35 {
  padding: 35px;
}
.pt35 {
  padding-top: 35px;
}
.pb35 {
  padding-bottom: 35px;
}
.pl35 {
  padding-left: 35px;
}
.pr35 {
  padding-right: 35px;
}
.m30 {
  margin: 30px;
}
.mt30 {
  margin-top: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml30 {
  margin-left: 30px;
}
.mr30 {
  margin-right: 30px;
}
.p30 {
  padding: 30px;
}
.pt30 {
  padding-top: 30px;
}
.pb30 {
  padding-bottom: 30px;
}
.pl30 {
  padding-left: 30px;
}
.pr30 {
  padding-right: 30px;
}
.m25 {
  margin: 25px;
}
.mt25 {
  margin-top: 25px;
}
.mb25 {
  margin-bottom: 25px;
}
.ml25 {
  margin-left: 25px;
}
.mr25 {
  margin-right: 25px;
}
.p25 {
  padding: 25px;
}
.pt25 {
  padding-top: 25px;
}
.pb25 {
  padding-bottom: 25px;
}
.pl25 {
  padding-left: 25px;
}
.pr25 {
  padding-right: 25px;
}
.m20 {
  margin: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.p20 {
  padding: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pr20 {
  padding-right: 20px;
}
.m15 {
  margin: 15px;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.ml15 {
  margin-left: 15px;
}
.mr15 {
  margin-right: 15px;
}
.p15 {
  padding: 15px;
}
.pt15 {
  padding-top: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.pl15 {
  padding-left: 15px;
}
.pr15 {
  padding-right: 15px;
}
.m10 {
  margin: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.p10 {
  padding: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pr10 {
  padding-right: 10px;
}
.m5 {
  margin: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mr5 {
  margin-right: 5px;
  font-size:12px;
  font-family:"微软雅黑";
}
.p5 {
  padding: 5px;
}
.pt5 {
  padding-top: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.pl5 {
  padding-left: 5px;
}
.pr5 {
  padding-right: 5px;
}
.vat {
  vertical-align: top;
}
.vab {
  vertical-align: bottom;
}
.vam {
  vertical-align: middle;
}
.fn_hide {
  display: none;
}
.f_right {
  float: right;
}
.f_left {
  float: left;
}
.tx_l {
  text-align: left;
}
.tx_c {
  text-align: center;
}
.tx_r {
  text-align: right;
}
/* 去除inline-block的间隙 */
.tx_ns {
  font-size: 0;
  -webkit-text-size-adjust: none;
  /* 解决 webkit 内核限制最小字体大小问题 */
}
.dis_b {
  display: block;
}
/*块级*/
.dis_in {
  *display: inline;
  *zoom: 1;
  display: inline;
}
/*内联*/
.dis_inb {
  display: inline-block;
}
/*内联块级*/
.dis_none {
  display: none;
}
/*隐藏*/
.tx_unbr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tx_br {
  word-wrap: break-word;
  word-break: normal;
}
.tx_unbr2 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.tx_12 {
  font-size: 12px;
}
.tx_13 {
  font-size: 13px;
}
.tx_14 {
  font-size: 14px;
}
.tx_15 {
  font-size: 15px;
}
.tx_16 {
  font-size: 16px;
}
.tx_18 {
  font-size: 18px;
}
.tx_b {
  font-weight: bold;
}
.tx_n {
  font-weight: normal;
}
.tx_udl {
  text-decoration: underline;
}
.tx_del {
  text-decoration: line-through;
}
.tx_song {
  font-family: "Simsun";
}
.tx_yh {
  font-family: "MicroSoft YaHei", "SimHei";
}
.tx_lh_1 {
  line-height: 1;
}
.tx_gray {
  color: gray;
}
.tx_red {
  color: red;
}
.pos_rel {
  position: relative;
}
.pos_abs {
  position: absolute;
}
.hidden {
  display: none;
}
/**
 * 页面共用布局类，一般以p_ly 开头
 */
html,
body {
  height: 100%;
  width: 100%;
}
.p_ly {
  height: 100%;
  width: 100%;
  position: relative;
}
.p_ly_top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #90c13b;
}
.p_ly_left {
  position: absolute;
  z-index: 5;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 200px;
  background: #3a3a3a;
  transition: all 0.3s ease;
}
.p_ly_left .switch {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 172px;
  left: 172px;
  background: #f20;
  width: 25px;
  height: 53px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #3a3a3a;
  border: 1px solid #575757;
  line-height: 53px;
  transition: all 0.3s ease;
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.3), 0px 0px 0 rgba(0, 0, 0, 0.3), 0px -2px 2px rgba(0, 0, 0, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.p_ly_left .switch .e_arr_l {
  border-right-width: 8px;
  border-top-width: 8px;
  border-bottom-width: 8px;
}
.p_ly_left .switch .e_arr_r {
  display: none;
  border-left-width: 8px;
  border-top-width: 8px;
  border-bottom-width: 8px;
}