<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration>

	<!-- INFO TO FILE -->
	<appender name="FILE_INFO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/home/qa/data/logs/h5/qa/info.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<!-- Safely log to the same file from multiple JVMs. Degrades performance! -->
		<prudent>true</prudent>
	</appender>
	
	<!-- ERROR TO FILE -->
	<appender name="FILE_ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/home/qa/data/logs/h5/qa/error.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<!-- Safely log to the same file from multiple JVMs. Degrades performance! -->
		<prudent>true</prudent>
	</appender>


	<!-- Console output -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder defaults to ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
		<!-- Only log level INFO and above -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

    <logger name="org.apache.http" level="DEBUG" additivity="false">
		<appender-ref ref="FILE_INFO" />
		<appender-ref ref="FILE_ERROR" />
	</logger>

     <logger name="org.springframework.transaction" level="ERROR" additivity="false">
		<appender-ref ref="FILE_INFO" />
		<appender-ref ref="FILE_ERROR" />
	</logger>
	
	<logger name="org.springframework.jdbc" level="INFO" additivity="false">
		<appender-ref ref="FILE_INFO" />
		<appender-ref ref="FILE_ERROR" />
	</logger>
	

	<logger name="com.kxwp" level="DEBUG" additivity="false">
		<appender-ref ref="FILE_INFO" />
		<appender-ref ref="FILE_ERROR" />
	</logger>
	
	<logger name="org.mybatis.spring" level="DEBUG" additivity="false">
		<appender-ref ref="FILE_INFO" />
		<appender-ref ref="FILE_ERROR" />
	</logger>
	

	<!-- Enable FILE and STDOUT appenders for all log messages. By default, 
		only log at level INFO and above. -->
	<root level="ERROR">
		<appender-ref ref="FILE_INFO" />
		<appender-ref ref="FILE_ERROR" />
	</root>


</configuration>
