@charset "UTF-8";
@import url(reset.css);
* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑"; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

a {
  text-decoration: none; }

/*主体*/
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto; }

/*头部*/
.header {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background: #fff;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  border-bottom: 1px solid #eee;
  position: relative; }
  .header .back {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    display: block;
    background: url(../images/back.png) no-repeat center center;
    background-size: 20%;
    position: absolute;
    top: 0;
    left: 0; }

/*内容*/
.content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  overflow: auto;
  background: #f7f7f7; }

.phone-verify {
  margin: .7rem;
  background: #fff;
  border-radius: 5px;
  font-size: 1.3rem; }
  .phone-verify .p-phone, .phone-verify .p-verify {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    padding-left: 1rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal; }
    .phone-verify .p-phone input, .phone-verify .p-verify input {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-box-flex: 1;
      -o-box-flex: 1;
      box-flex: 1;
      display: block;
      border: none;
      height: 4rem;
      outline: none;
      background: none; }
  .phone-verify .p-phone {
    border-bottom: 1px solid #eee; }
  .phone-verify .s-phone, .phone-verify .s-verify {
    width: 7rem;
    height: 4rem;
    display: block; }
  .phone-verify .new-yzm {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    background: #ffa200;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 3rem;
    margin-top: .5rem;
    margin-right: 1rem; }

.pwd-show {
  margin: 1rem;
  color: #666; }

.a-sure {
  width: 96%;
  height: 4rem;
  line-height: 4rem;
  background: #ffa200;
  color: #fff;
  border-radius: 5px;
  margin: 5rem auto;
  text-align: center;
  font-size: 1.4rem; }

/*# sourceMappingURL=change-password.css.map */
