@charset "utf-8";
@import "reset.css";

* {
  margin: 0;
  padding: 0;
  font-family:"微软雅黑";
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin box($val:horizontal) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient:$val;
  -moz-box-orient:$val;
  -ms-box-orient:$val;
  -o-box-orient:$val;
  box-orient:$val;
  //水平:horizontal 垂直: vertical
}

@mixin flex($val:1) {
  -webkit-box-flex:$val;
  -moz-box-flex:$val;
  -ms-box-flex:$val;
  -o-box-flex:$val;
  box-flex:$val;
}

@mixin full {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

//relative,absolute,
@mixin pos($val:relative) {
  position:$val;
}

//clip
@mixin textOverflow($val:ellipsis) {
  overflow: hidden;
  text-overflow:$val;
  white-space: nowrap;
}

html, body {
  @include full;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

/*主体*/
.container{
  @include box(vertical);
  @include full;
  min-width:320px;
  max-width:768px;
  margin:0 auto;
}
/*头部*/
.header{
  width:100%;
  height:4rem;
  line-height:4rem;
  background:#fff;
  text-align:center;
  font-size:1.5rem;
  color:#333;
  border-bottom:1px solid #eee;
  @include pos;
  .back{
    width:4rem;
    height:4rem;
    line-height:4rem;
    text-align:center;
    display:block;
    background:url(../images/back.png) no-repeat center center;
    background-size:20%;
    @include pos(absolute);
    top:0;
    left:0;
  }
  .edit{
    width:4rem;
    height:4rem;
    line-height:4rem;
    text-align:center;
    display:block;
    @include pos(absolute);
    top:0;
    right:0;
    color:#ffa200;
  }
}

/*内容*/

.content{
  @include flex;
  overflow:auto;
  background:#f7f7f7;
}
.main_shop{
  margin-top:.5rem;
  background:#fff;
  .shop_title{
    width:100%;
    height:3rem;
    line-height:3rem;
    padding-left:1rem;
    input[type="checkbox"]{
      @include pos;
      top:.2rem;
    }
    .shop_name{
      color:#666;
    }
    img{
      width:1.5rem;
      height:1.4rem;
      @include pos;
      top:.7rem;
      margin-left:.4rem;
      margin-right:.4rem;
    }
  }
  .d-l{
    padding-left:1rem;
    height:9rem;
    background:#f7f7f7;
    padding-top:1rem;
    padding-bottom:1rem;
    margin-bottom:.5rem;
    @include box;
    .cec{
      width:1.5rem;
      line-height:7rem;
    }
    dt{
      width:7rem;
      margin-right:1rem;
      img{
        width:100%;
      }
    }
    dd{
      @include flex;
      .dity{
        line-height:2.4rem;
        font-weight:bold;
      }
      .g-g{
        color:#c3bebe;
        line-height:2.6rem;
      }
      .price{
        font-weight:bold;
        color:#f6251d;
      }
    }
  }
  .range{
    padding-left:1rem;
    height:2.5rem;
    line-height:2.5rem;
    border-bottom:1px solid #ccc;
    @include pos;
    color:#666;
    .number{
      @include pos(absolute);
      right:6rem;
    }
    .z-price{
      @include pos(absolute);
      right:1rem;
      color:#f6251d;
    }
  }
}

.all{
  width:100%;
  height:3.5rem;
  @include pos;
  background:#fff;
  min-width:320px;
  max-width:768px;
  margin:0 auto;
  border-top:1px solid #ccc;
  .account{
    width:8rem;
    height:3.5rem;
    text-align:center;
    line-height:3.5rem;
    background:#c1c1c1;
    color:#fff;
    @include pos(absolute);
    right:0;
    bottom:0;
  }
  .z-num{
    width:8rem;
    line-height:1.8rem;
    height:3.5rem;
    @include pos(absolute);
    right:8rem;
    color:#666;
    .zz-price{
      color:#f6251d;
    }
  }
  .q-x{
    line-height:3.5rem;
    margin-left:1rem;
    color:#666;
  }
}




