@charset "UTF-8";
@import url(reset.css);
* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑"; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

a {
  text-decoration: none; }

/*主体*/
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
  background: #f4f4f4; }

/*头部*/
.header {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 1.4rem;
  border-bottom: 1px solid #ccc;
  background: #fff;
  position: relative; }
  .header .back {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background: url(../images/back.png) no-repeat center center;
    background-size: 20%;
    position: absolute;
    left: 0;
    top: 0; }

/*内容*/
.content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  overflow: auto; }

/*详情展示*/
.swiper-container {
  width: 100%;
  height: 27rem; }

.swiper-container img {
  width: 100%;
  height: 27rem; }

.show {
  background: #fff; }
  .show .title {
    line-height: 3.5rem;
    height: 3.5rem;
    border-bottom: 1px dashed #ccc;
    font-size: 1.5rem;
    text-indent: 1rem; }
  .show .q-j {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal;
    height: 3.5rem;
    border-bottom: 1px solid #ccc; }
    .show .q-j .s-p {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-box-flex: 1;
      -o-box-flex: 1;
      box-flex: 1;
      display: block;
      text-align: center;
      line-height: 1.8rem; }
      .show .q-j .s-p .price {
        color: #e5342a; }
      .show .q-j .s-p .j-n {
        color: #666; }
  .show .p-p {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal;
    border-bottom: 1px solid #ccc; }
    .show .p-p .sp {
      width: 50%;
      line-height: 3.5rem;
      text-indent: 1rem;
      display: block;
      color: #464646; }
  .show .company {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal;
    padding: 1rem; }
    .show .company dt {
      width: 6rem;
      height: 6rem;
      background: #ffbc67;
      border-radius: 50%;
      padding: 1rem;
      line-height: 5rem;
      text-align: center;
      margin-right: 1rem; }
      .show .company dt img {
        width: 100%; }
    .show .company dd {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-box-flex: 1;
      -o-box-flex: 1;
      box-flex: 1; }
      .show .company dd .c-title {
        font-weight: bold;
        color: #ffa200;
        line-height: 2rem;
        position: relative; }
        .show .company dd .c-title .more {
          width: 2rem;
          height: 2rem;
          position: absolute;
          right: 0;
          background: url(../images/right.png) no-repeat center center;
          background-size: 25%; }
      .show .company dd .c-fw, .show .company dd .c-pp {
        width: 16rem;
        color: #333;
        line-height: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }

/*footer*/
.footer {
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
  background: #fff;
  border-top: 1px solid #ccc; }
  .footer span {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    display: block; }
  .footer .f-left {
    height: 4rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal; }
    .footer .f-left em {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-box-flex: 1;
      -o-box-flex: 1;
      box-flex: 1;
      display: block;
      line-height: 6rem;
      font-size: 1rem;
      text-align: center;
      border-right: 1px solid #ccc;
      color: #5d5a5a; }
    .footer .f-left .dp {
      background: url(../images/dp.png) no-repeat center 0.8rem;
      background-size: 33%; }
    .footer .f-left .sc {
      background: url(../images/sc.png) no-repeat center 0.8rem;
      background-size: 33%; }
    .footer .f-left .shoplist {
      background: url(../images/jhd.png) no-repeat center 0.8rem;
      background-size: 33%; }
  .footer .addshop {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    color: #fff;
    background: #ffa200;
    font-size: 1.3rem; }
  .footer .pay {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background: #fa4545;
    color: #fff;
    font-size: 1.3rem; }

/*# sourceMappingURL=shop_view.css.map */
