@charset "utf-8";
@import "reset.css";

* {
  margin: 0;
  padding: 0;
  font-family:"微软雅黑";
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin box($val:horizontal) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient:$val;
  -moz-box-orient:$val;
  -ms-box-orient:$val;
  -o-box-orient:$val;
  box-orient:$val;
  //水平:horizontal 垂直: vertical
}

@mixin flex($val:1) {
  -webkit-box-flex:$val;
  -moz-box-flex:$val;
  -ms-box-flex:$val;
  -o-box-flex:$val;
  box-flex:$val;
}

@mixin full {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

//relative,absolute,
@mixin pos($val:relative) {
  position:$val;
}

//clip
@mixin textOverflow($val:ellipsis) {
  overflow: hidden;
  text-overflow:$val;
  white-space: nowrap;
}

html, body {
  @include full;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}



/*主体*/
.container{
  @include box(vertical);
  @include full;
  min-width:320px;
  max-width:768px;
  margin:0 auto;
}
/*头部*/
.header{
  width:100%;
  height:4rem;
  @include box;
  border-bottom:1px solid #eee;
  @include pos;
}
.back{
  width:4rem;
  height:4rem;
  display:inline-block;
  background:url(../images/back.png) no-repeat center center;
  background-size:15%;
}
.val{
  @include flex;
  height:2.5rem;
  background: #f3f3f3;
  border-radius:5px;
  margin-top:.7rem;
  line-height:2.5rem;
  padding-left:1rem;
}
.val select,.val input{
  border:none;
  background:none;
  outline:none;
}
.val select{
  width:4.1rem;
  font-size:10px;
  text-align:left;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
}
.search{
  width:4rem;
  height:4rem;
  line-height:4rem;
  text-align:center;
  display:inline-block;
  font-size:1.3rem;
}



/*内容*/

.content{
  @include flex;
  overflow:auto;
}
.hot-search{
  color:#999;
}
.title{
  line-height:3rem;
  text-indent:1rem; 
  font-size:1.4rem;
  color:#999;
}
.hot-list{
  padding-left:1rem;
  padding-right:1rem;
}
.hot-list a{
  display:inline-block;
  line-height:2.4rem;
  padding-left:1rem;
  padding-right:1rem;
  text-align:center;
  border:1px solid #999;
  border-radius:4px;
  margin-bottom:1rem;
}
.his-list p{
  line-height:3rem;
  text-indent:1rem;
  border-bottom:1px solid #eee;
  color:#333;
}

.clear{
  width:10rem;
  height:3rem;
  line-height:3rem;
  text-align:center;
  background:#ffa200;
  color:#fff;
  border-radius:5px;
  margin:2rem auto;
}