.fl-big-box{
	background:#fff;
}
.hot-title,.all-fl-title{
	font-size:.4rem;
	line-height:1rem;
	height:1rem;
	font-weight:bold;
	padding:0 .2rem;
}
.fl-box{
	padding:0 .2rem;
	display:flex;
	display:-webkit-flex;
}
.fl-list{
	flex:1;
	-webkit-flex:1;
	background:#e0effa;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color:#5599c4;
	font-size:.25rem;
	border-right:1px solid #fff;
}
.fl-list:last-child{
	border-right:none;
}
.fl-item{
	width:100%;
	flex:1;
	-webkit-flex:1;
	height:.7rem;
	line-height:.7rem;
	justify-content:center;
	align-items:center;
	display:flex;
	display:-webkit-flex;
}
.m-y,.w-l{
	border-bottom:1px solid #fff;
}
.e-g,.w-l{
	background:#daf3fa;
}
.all-fl{
	margin-top:.3rem;
}

.all-fl-box{
	padding:0 .2rem;
}
.table-box{
	//border:1px solid #f7f7f7;
	margin-bottom:.4rem;
}
.all-table-fl{
	width:100%;
	font-size:.25rem;
	color:#333;
	border-collapse: collapse;
    border-spacing: 0;
    border:1px solid #f7f7f7; 
}
th{
	text-align: center;
    vertical-align: middle;
    height:.6rem;
	line-height:.6rem;
}
td{
    border: 1px solid #f7f7f7;
    text-align: center;
    vertical-align: middle;
    height:.6rem;
	line-height:.6rem;
	width:33.3%;
 }
.all-table-fl thead{
	background:#f7f7f7;
	width:100%;
}
.more-fl{
	width:100%;
	text-align:center;
	line-height:.6rem;
	font-size:.25rem;
	padding-bottom:.2rem;
}

