@charset "UTF-8";
/*主体*/
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 320px;
  max-width: 414px;
  margin: 0 auto;
  background: #f4f4f4; }

/*头部*/
.header {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  position: relative;
  background: #fff;
  text-align: center;
  font-size: 1.5rem;
  color: #333; }

.back {
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/back.png) no-repeat center center;
  background-size: 20%; }

/*内容*/
.content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  overflow: auto;
  padding: 1rem; }

.list{
	width:100%;
	background:#fff;
	height:4rem;
	line-height:4rem;
	border-radius:3px;
	text-indent:1rem;
}
.list input{
	border:none;
	text-indent:1rem;
	outline:none;
}
.bz{
	margin-top:.7rem;
	display:inline-block;
}
.sure{
	width:100%;
	height:4rem;
	line-height:4rem;
	text-align:center;
	border-radius:4px;
	background:#d0d1d2;
	color:#fff;
	margin-top:3rem;
	font-size:1.3rem;
}
.ydwt{
	line-height:3rem;
}
.ydwt a{
	color:#ffa200;
}
.activ{
	background:#ffa200;
}
