<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kxwp.admin.mapper.masterStation.MsRoleMapper" >
  <resultMap id="BaseResultMap" type="com.kxwp.admin.entity.masterStation.MsRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="role_description" property="roleDescription" jdbcType="VARCHAR" />
    <result column="delete_allowed" property="deleteAllowed" jdbcType="VARCHAR" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    <result column="role_status" property="roleStatus" jdbcType="VARCHAR" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.roleStatusCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.EnumTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.EnumTypeHandler} and #{criterion.secondValue,typeHandler=org.apache.ibatis.type.EnumTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=org.apache.ibatis.type.EnumTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, role_description, delete_allowed, role_status, create_user_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ms_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.kxwp.admin.query.masterStation.MasterStationRoleQuery" >
    select 
    <include refid="Base_Column_List" /> 
    from ms_role
    <where>
	    <if test="roleStatus != null" >
	        and role_Status = #{roleStatus,jdbcType=VARCHAR,typeHandler=org.apache.ibatis.type.EnumTypeHandler}
	    </if>
	    <if test="createUserId != null">
	    	and create_user_id = #{createUserId,jdbcType=BIGINT}
	    </if>
    </where>
    order by id asc 
    <if test="pageSize != 0">
       limit #{pageSize,jdbcType=INTEGER} 
    </if>
    <if test="pageSize != 0 and offset != 0">
    	offset #{offset,jdbcType=INTEGER}
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ms_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kxwp.admin.entity.masterStation.MsRole" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      select last_insert_id()
    </selectKey>
    insert into ms_role (name, role_description, delete_allowed, role_status, 
      create_user_id, create_time, update_time
      )
    values (#{name,jdbcType=VARCHAR}, #{roleDescription,jdbcType=VARCHAR}, #{deleteAllowed,jdbcType=VARCHAR,typeHandler=org.apache.ibatis.type.EnumTypeHandler}, #{roleStatus,jdbcType=VARCHAR,typeHandler=org.apache.ibatis.type.EnumTypeHandler}, 
      #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kxwp.admin.entity.masterStation.MsRole" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      select last_insert_id()
    </selectKey>
    insert into ms_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="roleDescription != null" >
        role_description,
      </if>
      <if test="deleteAllowed != null" >
        delete_allowed,
      </if>
      <if test="roleStatus != null" >
        role_status,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
        create_time,
        update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="roleDescription != null" >
        #{roleDescription,jdbcType=VARCHAR},
      </if>
      <if test="deleteAllowed != null" >
        #{deleteAllowed,jdbcType=VARCHAR,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
      </if>
      <if test="roleStatus != null" >
        #{roleStatus,jdbcType=VARCHAR,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      NOW(),NOW()
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kxwp.admin.entity.masterStation.MsRoleExample" resultType="java.lang.Integer" >
    select count(*) from ms_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.kxwp.admin.entity.masterStation.MsRole" >
    update ms_role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="roleDescription != null" >
        role_description = #{roleDescription,jdbcType=VARCHAR},
      </if>
      <if test="deleteAllowed != null" >
        delete_allowed = #{deleteAllowed,jdbcType=VARCHAR,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
      </if>
      <if test="roleStatus != null" >
        role_status = #{roleStatus,jdbcType=VARCHAR,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
        update_time = NOW(),
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kxwp.admin.entity.masterStation.MsRole" >
    update ms_role
    set name = #{name,jdbcType=VARCHAR}, role_description = #{roleDescription,jdbcType=VARCHAR},
      delete_allowed = #{deleteAllowed,jdbcType=VARCHAR,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
      role_status = #{roleStatus,jdbcType=VARCHAR,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>